@use "tailwindcss";

:root {
  /* ===== COLOR ===== */
  // --color-primary: #f59e0b; /* amber-500 */
  // --color-primary-hover: #f97316; /* orange-500 */
  // --color-success: #16a34a; /* green-600 */
  --color-danger: #dc2626; /* red-600 */
  // --color-warning: #f59e0b;
  // --color-info: #0ea5e9; /* sky-500 */

  /* ===== TEXT ===== */
  --text-default: #171717; /* gray-900 */
  --text-primary: #d97706;
  --text-muted: #4b5563; /* gray-600 */
  --text-white: #ffffff;

  /* ===== BORDER ===== */
  --border-default: #e5e7eb; /* gray-200 */
  --border-outline: #f59e0b;

  /* ===== BACKGROUND ===== */
  --bg-default: #ffffff;
  --bg-primary: #d97706;
}

body {
  background: var(--bg-default);
  color: var(--text-default);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

g:hover {
  fill: #fef3c6 !important;
}

.app-text-primary {
  color: var(--text-primary);
}

.app-text-white {
  color: var(--text-white);
}

.app-bg-primary {
  background-color: var(--bg-primary);
}
